.new-to-do-item{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.new-to-do-item-input{
    width: 75%;
}
.new-to-do-item input{
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 30px;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.add-new-to-do-item{
    align-items: center;
    background: #46b7d7;
    border-radius: 10px;
    box-shadow: 5px 5px 9px #3c9cb7, -5px -5px 9px #51d2f7;
    cursor: pointer;
    color: white;
    display: flex;
    height: 50px;
    justify-content: center;
    max-height: 50px;
    padding: 0 15px;
    transition: all 0.3s;
}

.add-new-to-do-item:hover{
    background: linear-gradient(145deg, #3fa5c2, #4bc4e6);
}

.error{
    margin-top: 15px;
}



@media only screen and (max-width: 460px){
    .new-to-do-item{
        width: 100%;
        margin: 30px auto 0 auto;
        flex-direction: column;
    }
    .new-to-do-item-input{
        width: 100%;
    }
    .new-to-do-item input{
        width: 100%;
    }
    .add-new-to-do-item{
        margin-top: 30px;
    }
}