.mobile-to-do .to-do-item-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
    justify-content: space-between;
}

.editables-container .complete-to-do{
    position: relative;
    height: 50px;
    width: 50px;
    min-width: 50px;
    margin-right: 0px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    transition: all 0.3s;
    background: #46b7d7;
    box-shadow:  5px 5px 9px #3c9cb7,
             -5px -5px 9px #51d2f7;
}

.complete-to-do input[type="checkbox"]{
    box-sizing: border-box;
    padding: 0;
    width: 80%;
    height: 80%;
    cursor: pointer;
    z-index: 2;
}

.checkbox-button__input {
    opacity: 0;
    position: absolute;
}

.checkbox-button__control {
    position: relative;
    display: inline-block;
    width: 80%;
    height: 80%;
    border-radius: 5px;
    vertical-align: middle;
    background-color: inherit;
    box-shadow:  5px 5px 9px #3c9cb7,
            -5px -5px 9px #51d2f7;
}
.checkbox-button__input:checked+.checkbox-button__control{
    box-shadow:  inset 5px 5px 9px #3c9cb7,
            inset -5px -5px 9px #51d2f7;
    
}
.checkbox-button__input:checked+.checkbox-button__control:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    

    
}

.checkbox-button__input:checked+.checkbox-button__control {
    border-color: #01a982;
}

.checkbox-button__control {
  transform: scale(0.75);
}
.completed-item .to-do-item p{
    text-decoration: line-through;
    opacity: .75;
}
.mobile-to-do .to-do-item{
    background-color: #46b7d7;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    box-shadow: inset 11px 11px 23px #3c9cb7,
            inset -11px -11px 23px #51d2f7;

}

.to-do-item input{
    background: none;
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    width: 100%;
}

.to-do-item p{
    color: rgb(240, 240, 240);
}


.line{
    width: 35px;
    height: 4px;
    border-radius: 2px;
    background-color: white;
    transition: background 0.3s;
    mix-blend-mode: screen;
}

.line-top{
    margin-bottom: 15px;
    transform: rotateZ(45deg) translate(7px, 7px);
    transform-origin: center;
}

.line-bottom{
   transform: rotateZ(-45deg) translate(7px, -7px);
   transform-origin: center;
}

.update-to-do svg{
    width: 80%;
    height: 80%;
}

.delete-to-do, .update-to-do{
    height: 50px;
    width: 50px;
    min-width: 50px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    transition: all 0.3s;
    background: #46b7d7;
    box-shadow:  5px 5px 9px #3c9cb7,
             -5px -5px 9px #51d2f7;
             
}

.delete-to-do:hover, .update-to-do:hover, .save-to-do:hover{
    background: linear-gradient(145deg, #3fa5c2, #4bc4e6);
    box-shadow:  5px 5px 9px #3c9cb7,
             -5px -5px 9px #51d2f7;
}

.mobile-to-do .save-to-do{
    color: white;
    height: 50px;
    width: 120px;
    min-width: 50px;
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    transition: all 0.3s;
    background: #46b7d7;
    box-shadow:  5px 5px 9px #3c9cb7,
             -5px -5px 9px #51d2f7;
}

.delete-to-do:hover .line{
    background-color: #FC100D;
}







.editables-container{
    height: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow:hidden;
    width: 100%;
}

.show-editables{
    height: max-content;
}
.toggle-edits{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 80px;
    margin: 15px 0px 25px 0px;
    background: #46b7d7;
    border-radius: 20px;
    box-shadow:  5px 5px 9px #3c9cb7,
             -5px -5px 9px #51d2f7;
}
.toggle-edits:hover{
    background: linear-gradient(145deg, #3fa5c2, #4bc4e6);
}
.toggle-edits p{
    text-align: center;
    color: white;
}
.editables-buttons{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}



@media only screen and (max-width: 460px){
    .to-do-inner{
        padding: 30px;
    }

}